#TOOLBAR .cs-bar{
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}
#TOOLBAR .city{
    display: block;
    padding: 1em;
    border: 1px solid #000;
    background: #ccc;
}
#TOOLBAR{
    border: 1px solid #ccc !important;
padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    background: #f8f8f8;
   }
   #TOOLBAR .tab{
   border-radius: 6px 6px 0px 0px;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    cursor:pointer;
   }

 #ribbon {
 /*background-color: #5c4b99;*/
 }